<ion-view view-title="Turismo">
  <ion-content class="padding">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
  <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Localizame</a>
    </ion-footer-bar>
</ion-view>
